@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@function svg-fill ($svg, $color) {
  @return str-replace($svg, '<svg', '<svg fill="#{$color}"');
}

@function svg-size ($svg, $width, $height) {
  $svg: str-replace($svg, '<svg', '<svg width="#{$width}"');
  $svg: str-replace($svg, '<svg', '<svg height="#{$height}"');

  @return $svg;
}

// Function to create an optimized svg url
// Version: 1.0.6
@function svg-url($svg-op) {
  // Add missing namespace
  @if not str-index($svg-op, xmlns) {
    $svg-op: str-replace($svg-op, '<svg', '<svg xmlns="http://www.w3.org/2000/svg"');
  }

  // Chunk up string in order to avoid
  // "stack level too deep" error
  $encoded: '';
  $slice: 2000;
  $index: 0;
  $loops: ceil(str-length($svg-op)/$slice);
  @for $i from 1 through $loops {
    $chunk: str-slice($svg-op, $index, $index + $slice - 1);

    // Encode
    $chunk: str-replace($chunk, '"', '\'');
    $chunk: str-replace($chunk, '%', '%25');
    $chunk: str-replace($chunk, '#', '%23');
    $chunk: str-replace($chunk, '{', '%7B');
    $chunk: str-replace($chunk, '}', '%7D');
    $chunk: str-replace($chunk, '<', '%3C');
    $chunk: str-replace($chunk, '>', '%3E');

    // The maybe list
    // Keep size and compile time down
    // ... only add on documented fail
    // $chunk: str-replace($chunk, '&', '%26');
    // $chunk: str-replace($chunk, '|', '%7C');
    // $chunk: str-replace($chunk, '[', '%5B');
    // $chunk: str-replace($chunk, ']', '%5D');
    // $chunk: str-replace($chunk, '^', '%5E');
    // $chunk: str-replace($chunk, '`', '%60');
    // $chunk: str-replace($chunk, ';', '%3B');
    // $chunk: str-replace($chunk, '?', '%3F');
    // $chunk: str-replace($chunk, ':', '%3A');
    // $chunk: str-replace($chunk, '@', '%40');
    // $chunk: str-replace($chunk, '=', '%3D');
    $encoded: #{$encoded}#{$chunk};
    $index: $index + $slice;
  }
  @return url("data:image/svg+xml,#{$encoded}");
}

// Background svg mixin
@mixin background-svg($svg-op) {
  background-image: svg-url($svg-op);
}

// Helper function to replace characters in a string
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @return if($index, str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace), $string);
}

$facebook:      '<svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 320 512"><path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path></svg>';

//----------------------------- Footer icons -----------------------------------
 
$arrow-right:       '<svg version="1.1" id="Layer_1" focusable="false" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="518px" height="957.5px" viewBox="38.64 121.5 518 957.5" enable-background="new 38.64 121.5 518 957.5"	 xml:space="preserve"><path d="M519.27,659.528l26.453-172.371H380.328V375.3c0-47.157,23.104-93.124,97.179-93.124h75.191V135.421	c0,0-68.233-11.645-133.473-11.645c-136.207,0-225.239,82.558-225.239,232.01v131.371H42.581v172.371h151.405v416.696h186.342	V659.528H519.27z"/></svg>';

$arrow-down:        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z" class=""></path></svg>';

$twitter:           '<svg version="1.1" id="Layer_1" focusable="false" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"	 x="0px" y="0px" width="595.279px" height="485.5px" viewBox="0 357.25 595.279 485.5"	 enable-background="new 0 357.25 595.279 485.5" xml:space="preserve"><path d="M534.089,478.754c0.378,5.287,0.378,10.576,0.378,15.864c0,161.283-122.757,347.12-347.12,347.12	c-69.122,0-133.333-20.02-187.347-54.768c9.82,1.132,19.263,1.51,29.462,1.51c57.034,0,109.537-19.263,151.464-52.124	c-53.636-1.134-98.584-36.261-114.071-84.608c7.556,1.132,15.109,1.888,23.042,1.888c10.953,0,21.908-1.512,32.105-4.154	c-55.901-11.332-97.829-60.435-97.829-119.736v-1.51c16.241,9.064,35.128,14.73,55.146,15.485	c-32.861-21.908-54.39-59.302-54.39-101.605c0-22.663,6.042-43.438,16.618-61.568c60.058,74.033,150.332,122.379,251.559,127.667	c-1.888-9.064-3.021-18.507-3.021-27.95c0-67.233,54.391-122.002,122.002-122.002c35.127,0,66.854,14.731,89.141,38.527	c27.572-5.288,54.013-15.487,77.432-29.462c-9.066,28.329-28.329,52.125-53.636,67.232c24.552-2.643,48.349-9.442,70.255-18.885	C578.661,439.849,557.885,461.378,534.089,478.754L534.089,478.754z"/></svg>';

$instagram:         '<svg version="1.1" id="Layer_1" focusable="false" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"	 x="0px" y="0px" width="595.279px" height="597px" viewBox="0 301.25 595.279 597" enable-background="new 0 301.25 595.279 597"	 xml:space="preserve"><path d="M297.773,447.193c-84.508,0-152.673,68.165-152.673,152.674s68.165,152.674,152.673,152.674	c84.509,0,152.674-68.165,152.674-152.674S382.281,447.193,297.773,447.193z M297.773,699.125	c-54.611,0-99.258-44.514-99.258-99.258s44.514-99.258,99.258-99.258s99.258,44.514,99.258,99.258S352.384,699.125,297.773,699.125z	 M492.302,440.948c0,19.799-15.945,35.61-35.61,35.61c-19.799,0-35.61-15.944-35.61-35.61c0-19.665,15.944-35.61,35.61-35.61	C476.357,405.338,492.302,421.283,492.302,440.948z M593.42,477.091c-2.26-47.702-13.155-89.957-48.102-124.77	c-34.813-34.813-77.067-45.709-124.77-48.101c-49.163-2.791-196.521-2.791-245.686,0c-47.569,2.259-89.823,13.155-124.77,47.968	c-34.946,34.813-45.709,77.068-48.101,124.77c-2.791,49.163-2.791,196.521,0,245.686c2.259,47.702,13.154,89.956,48.101,124.77	s77.067,45.709,124.77,48.101c49.164,2.791,196.522,2.791,245.686,0c47.702-2.259,89.957-13.154,124.77-48.101	c34.813-34.813,45.709-77.067,48.102-124.77C596.21,673.479,596.21,526.254,593.42,477.091z M529.906,775.396	c-10.364,26.043-30.429,46.107-56.604,56.604c-39.198,15.546-132.211,11.959-175.528,11.959S161.31,847.413,122.245,832	c-26.044-10.364-46.108-30.429-56.605-56.604c-15.546-39.198-11.958-132.211-11.958-175.528S50.227,463.404,65.64,424.339	c10.364-26.043,30.429-46.107,56.605-56.604c39.198-15.546,132.21-11.959,175.527-11.959s136.463-3.455,175.528,11.959	c26.043,10.364,46.107,30.429,56.604,56.604c15.546,39.198,11.959,132.211,11.959,175.528S545.451,736.33,529.906,775.396z"/></svg>';

$linkedin:          '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path></svg>';

$youtube:           '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path></svg>';

$google: '<svg version="1.1" id="Layer_1" focusable="false" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="573px" height="358.37px" viewBox="11.265 420.333 573 358.37" enable-background="new 11.265 420.333 573 358.37" xml:space="preserve"><path d="M359.085,574.418c1.706,9.015,2.923,18.029,2.923,29.723c0,102.084-68.461,174.443-171.519,174.443 c-98.671,0-178.584-79.912-178.584-178.584S91.819,421.416,190.49,421.416c48.24,0,88.439,17.541,119.624,46.777l-48.483,46.534	c-13.156-12.669-36.301-27.53-71.141-27.53c-60.908,0-110.61,50.433-110.61,112.803s49.702,112.803,110.61,112.803 c70.653,0,97.21-50.92,101.352-76.989H190.49v-61.396L359.085,574.418L359.085,574.418z M531.535,580.405v-51.839h-52.088v51.839 H427.61v52.088h51.838v51.839h52.088v-51.839h51.839v-52.088H531.535z"/></svg>';

$behance:'<svg version="1.1" id="Layer_1" focusable="false" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"	 x="0px" y="0px" width="595.279px" height="375.417px" viewBox="0 412.333 595.279 375.417"	 enable-background="new 0 412.333 595.279 375.417" xml:space="preserve"><path d="M239.766,580.57c32.864-15.708,50.02-39.479,50.02-76.477c0-72.963-54.36-90.739-117.092-90.739H0v366.263h177.551	c66.556,0,129.08-31.934,129.08-106.344C306.631,627.283,284.825,593.282,239.766,580.57L239.766,580.57z M80.507,475.88h75.547	c29.041,0,55.188,8.164,55.188,41.855c0,31.107-20.359,43.612-49.09,43.612H80.507V475.88z M166.596,717.402H80.507V616.535h87.742	c35.448,0,57.875,14.779,57.875,52.294C226.124,705.828,199.357,717.402,166.596,717.402L166.596,717.402z M537.096,468.646H388.585	v-36.068h148.511V468.646z M595.28,650.847c0-78.44-45.886-143.859-129.08-143.859c-80.817,0-135.695,60.769-135.695,140.346	c0,82.574,51.983,139.209,135.695,139.209c63.352,0,104.381-28.524,124.12-89.188h-64.282	c-6.924,22.633-35.448,34.621-57.564,34.621c-42.683,0-65.108-25.01-65.108-67.486H594.66	C594.97,660.148,595.28,655.497,595.28,650.847z M403.467,618.603c2.377-34.828,25.527-56.635,60.459-56.635	c36.585,0,54.98,21.497,58.081,56.635H403.467z"/></svg>';

$icon-checked:'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>'


//$html5: '';
//$rocket:'';
//$mobile:'';
//$storm:'';